global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend postgres_primary
    bind 127.0.0.1:5433
    default_backend patroni_primary

backend patroni_primary
    option httpchk GET /primary
    http-check connect ssl port 8008
    http-check expect status 200
    server pl ${PL_HA_IP}:5432 check port 8008 check-ssl verify required ca-file /tls/ca.crt crt /tls/client.pem
    server us ${USA_HA_IP}:5432 check port 8008 check-ssl verify required ca-file /tls/ca.crt crt /tls/client.pem
